---
import Head from "@/components/common/Head.astro";
import Footer from "@/components/layout/footer/Footer.astro";
import Header from "@/components/layout/Header.astro";
import BackToTopButton from "@/components/ui/BackToTopButton.astro";
import type { SanityImageBase } from "@/lib/sanity-derived-types";
import "@/styles/global.css";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  canonical?: string;
  image?: SanityImageBase | null;
  noIndex?: boolean;
}

const { siteSettings } = Astro.locals;

if (!siteSettings) {
  return new Response("Site settings unavailable", { status: 503 });
}

const { title, description, canonical, image, noIndex } = Astro.props;
const isPreview = import.meta.env.PUBLIC_DEPLOY_MODE === "preview";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <Head
      title={title}
      description={description}
      canonical={canonical}
      image={image}
      siteSettings={siteSettings}
      noIndex={isPreview || noIndex}
    />
    <ClientRouter />
    <Font cssVariable="--font-inter" />
    <Font cssVariable="--font-merriweather" />
    <Font cssVariable="--font-work-sans" />
  </head>
  <body>
    <Header siteSettings={siteSettings} />
    <main id="main-content"><slot /></main>
    <Footer siteSettings={siteSettings} />
    <BackToTopButton />
  </body>
</html>
